:root {
  --white: #ffffff;
  --gray1: #edf2f6;
  --gray2: #2f3848;
  --gray3: #1a202d;
  --black: #000000;
  --headingFont: 'Raleway', sans-serif;
  --textFont: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  background-color: var(--gray1);
  font-size: 16px;
  font-size: 1.6rem;
  font-family: var(--textFont);
}


h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gray2);
}

h1 span {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--gray2);
}

@media (min-width: 768px) {
  main {
    display: flex;
    min-height: 100vh;
  }

  aside {
    background-color: var(--white);
    flex: 0 0 300px;
  }

  section {
    flex: 1;
  }

}



/** BUTTONS **/

.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--gray2);
  color: var(--white);
}

.btn-primary:hover {
  background: var(--gray3);
}

.btn-secondary {
  background-color: var(--gray1);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-submit:hover {
  background-color: var(--gray2);
}

.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}



/* LOG IN & SIGN UP PAGES */

.login {
  background-color: var(--gray2);
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: var(--white);
  width: 95%;
  max-width: 500px;
  padding: 5rem 3rem;
  border-radius: 1rem;
}

.form-field {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.form-field:last-of-type {
  margin: 0;
}

.form-field label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}

.form-field input[type="password"],
.form-field input[type="email"],
.form-field input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}



/** SIDEBAR **/

.new-project {
  margin-top: 6rem;
}

.new-project input[type="text"] {
  background-color: var(--gray1);
  padding: 1.5rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gray2);
  border-radius: 0;
}

.new-project input[type="text"]::placeholder {
  color: var(--gray2);
}